body {
    font-family: 'Montserrat', sans-serif;
    color: #444444;
}

/*
* SECTION
*/
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-float{
    position: relative;
    top: -65px;
    left: 0px;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px #5d5d5d;
    
}

.header-img{
    border-bottom-left-radius: 6px;
    height: 300px;
    border-bottom-right-radius: 6px;
    background-size: cover;
    box-shadow: 0px 2px 11px 1px #000000;

    display: flex;
    justify-content: center;
}

.header-img-card-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/svg/ccs.jpg');
}

.header-img-card-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/svg/ccs_2.jpg');
}

.header-img-content{
    width: auto;
    padding-inline: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.header-img-content h4{
    font-size: 20px;
    font-weight: 400;
}

.header-img-content img{
    width: 150px;
}





/*
* HEADER VIDEO
*/
.header-video {
    display: flex;          
    justify-content: center; 
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.header-section{
    background-color: #ffffff;
    color: black;
    border-radius: 14px;
    padding-top: 20px;
    padding-inline: 20px;
    width: auto;
    box-shadow: 0px 0px 10px 2px #555535;
    height: 100%;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover; /* Añadido para que el video se ajuste adecuadamente */
}

.header-text{
    margin-top: 140px;
    padding-inline: 10px;
    color: #fff;
    z-index: 2;
}

.header-text h2{
    margin-bottom: 74px;
    font-size: 45px;
    font-weight: 300;
}

.header-text h6{
    font-size: 16px;
    margin-block: 0px;
}




/*
* NAVBAR
*/
.navbar-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 1);
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar{
    height: 60px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 1);
    background-color: rgb(255, 255, 255);
    /* box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.5); */
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}

.navbar-brand{
    width: 50px;
}

.navbar-brand-video{
    width: 50px;
    filter: brightness(0) invert(1);
}


.hamburguer-menu{
    width: 25px;
    filter: invert(0.4);
}

.hamburguer-menu-video{
    width: 25px;
    filter: invert(1);
}



/*
* INPUTS
*/
form{
    display: flex;
    flex-direction: column;
    padding-inline: 10px;

    padding-bottom: 10px;
}

.form-input{
    padding-block: 10px;
    padding-inline: 10px;
    margin-block: 10px;
    border: 0;
    border-bottom: 2px solid #eeeeee;
    border-radius: 4px;

    background-color: #f7f7f7;
    transition: border-bottom 2s ease,
}

.form-input-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-input-group select:nth-child(1){
    margin-right: 10px;
}

.form-input-group select{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.form-input:focus-visible{
    outline: none;
    border-bottom: 2px solid #005fad;
}

.form-index{
    padding: 20px;
    color: black;
    background-color: #FFFFFF;
    text-align: justify;
    box-shadow: 0px 6px 8px 3px #2f2f2f;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
}

.form-select{
    font-family: 'Montserrat', sans-serif;
}



/*
* BUTTONS
*/
.btn{
    padding-block: 12px;
    padding-inline: 10px;
    margin-bottom: 10px;

    border-radius: 10px;
    border: 0;
}

.btn-primary{
    background-color: #005fad;
    color: white;
}

.btn-primary:hover{
    background-color: #005194;
    color: white;
}

.btn-img{
    height: 100px;
    width: 50px;
}

.btn-img-amex{
    background-image: url('../assets/svg/amex_produrct.svg');
    background-position: center;
    background-size: cover;
}


.disabled{
    background-color: #dfdfdf;
}

/*
* MODAL
*/
.modal{
    display: flex; /* Hidden by default */

    justify-content: center;
    align-items: center;

    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    width: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    font-family: 'Montserrat'; 
    font-weight: 400;
    line-height: 20px;

    opacity: 0;
    transition: opacity 1s ease, display 2s ease;
}

.d-block{
    opacity: 1;
}

.modal p{
    text-align: justify;
}

.modal-body{
    display: flex;
    flex-direction: column;

    border-radius: 15px;
    background-color: white;
    padding-top: 20px;
    padding-inline: 15px;
    padding-bottom: 20px;

    margin-inline: 10px;
}

.modal-esperar{
    background-color: transparent;
}

.modal-title{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
}

.modal-icon{
    width: 80px;
    align-self: center;
    margin-bottom: 10px;
}

.modal-icon-banco{
    width: 60px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}





/*
* FOOTER
*/
.footer-fixed{
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    font-size: 12px;
    padding-inline: 5px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: #eb6435;
}



/*
* SPINNER
*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #008cff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

/*
* HELPERS
*/
.bg-am{
    padding-left: 40px !important;
    background-image: url('../assets/svg/ico-american-express.svg');
    background-repeat: no-repeat;
    background-position: 8px;
}

.bg-vi{
    padding-left: 40px !important;
    background-image: url('../assets/svg/ico-visa.svg');
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 8px;
}

.bg-mc{
    padding-left: 40px !important;
    background-image: url('../assets/svg/ico-master-card.svg');
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 8px;
}

.logo-banca{
    display: flex;
    justify-content: center;
}

.logo-banca img{
    width: 100px;
}

.brand-ccs{
    display: flex;
    width: 100%;

    justify-content: space-evenly;
    align-items: center;
}

.brand-ccs div{
    width: 66px;
    height: 41px;
    border-radius: 3px;
    background-position: center;
    background-size: cover;
}

.cc-visa{
    background-image: url('../assets/svg/visa_product.svg');
    
}
.cc-mc{
    background-image: url('../assets/svg/mastercard_product.svg');
}
.cc-amex{
    background-image: url('../assets/svg/amex_produrct.svg');
}
.cc-dinners{
    background-image: url('../assets/svg/dinners_product.png');
}

.d-center{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px;
}

.d-none{
    display: none;
}

.label-anotations{
    font-size: 10px;
}

.companies-img{
    width: 150px;
}

.thinnier{
    font-size: 12px;
}

.text-center{
    text-align: center;
}

.ms-1{
    margin-left: 10px;
}

.mb-0{
    margin-bottom: 0px;
}

.mb-1{
    margin-bottom: 10px;
}

.mt-0{
    margin-top: 0px;
}

.mt-1{
    margin-top: 10px;
}

.mt-2{
    margin-top: 20px;
}

.fw-1{
    font-weight: 400;
}

.fw-2{
    font-weight: 500;
}